:root {
    --primary-text-color: #212121;
    --title-item: #757575;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --color-blue: #2196f3;
    --color-hero-background: #2f303a;
    --color-white: #ffffff;
    --color-black: #000000;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --border: #ececec;
    --shadow-cards-button: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    --timing-function-hover: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}
